{{ ansible_managed | comment }}

# put custom scripts into {{ zabbix_agent_dir_etc }}/{{ zabbix_agent_scripts_dir }}
# put custom configuration into {{ zabbix_agent_dir_etc }}/{{ zabbix_agent_include_dir }}

PidFile={{ zabbix_agent_dir_pid }}/zabbix_agentd.pid

LogFile={{ zabbix_agent_dir_log }}/zabbix_agentd.log
LogFileSize=12

ListenIP={{ zabbix_agent_config_listen_ip|join(',') }}
StartAgents={{ zabbix_agent_config_start_agents }}
Server={{ zabbix_agent_config_server|join(',') }}
ServerActive={{ zabbix_agent_config_server_active|join(',') }}

Hostname={{ inventory_hostname }}

# put all custom configuration  include dir
Include={{ zabbix_agent_dir_etc }}/{{ zabbix_agent_scripts_dir }}
